<!DOCTYPE html>
<html ng-app="hyperhub">
<head>
  <title>HyperHub</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<%= render 'layouts/navbar' %>

<%= yield %>

</body>
</html>
